Repository lmeazzini/astro-natal-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-datetime-utcnow, ty, eslint, prettier

Path conditions:
  no-datetime-utcnow: any of: ^apps/api/.*\.py$ and \.py$ and not (^apps/api/tests/)
  ty: any of: ^apps/api/app/.*\.py$
  eslint: any of: ^apps/web/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^apps/web/src/.*\.(ts|tsx|css|json)$

fix(ci): use PIPESTATUS to capture terraform plan exit code
  .github/workflows/terraform-apply.yml
Due: none

fix(ci): use pipefail to capture terraform exit code correctly
  .github/workflows/terraform-apply.yml
Due: none

fix(ci): disable terraform wrapper to preserve exit codes
  .github/workflows/terraform-apply.yml
Due: none

fix(iac): add CloudWatch Logs permission to KMS key policy
  iac/modules/secrets/main.tf
Due: none

fix(iac): add HTTPS egress rule to Qdrant security group
  iac/modules/vpc/security.tf
Due: none

fix(iac): use correct Qdrant health check endpoint
  iac/modules/qdrant/main.tf
Due: none

fix(iac): use curl for Qdrant health check
  iac/modules/qdrant/main.tf
Due: none

fix(iac): remove Qdrant container health check
  iac/modules/qdrant/main.tf
Due: none

fix(rag): correct unique constraint on search_indices table
  apps/api/alembic/versions/2026_01_06_0200-fix_search_indices_constraint.py
  apps/api/app/models/search_index.py
Due: no-datetime-utcnow, ty

docs(longevity): add bibliographic references and methodology documentation
  apps/api/app/astro/alcochoden.py
  apps/api/app/astro/hyleg.py
  apps/api/app/astro/longevity.py
  scripts/prod_seed_db.py
  scripts/rds-tunnel.sh
  scripts/setup-ssm-plugin.sh
Due: no-datetime-utcnow, ty

chore: add secrets.tfvars and seed_data.json to gitignore
  .gitignore
Due: none

feat(billing): remove premium gate from credit-based features
  apps/web/src/components/LongevityAnalysis.tsx
  apps/web/src/components/SaturnReturnAnalysis.tsx
  apps/web/src/components/SolarReturnAnalysis.tsx
Due: eslint, prettier

fix(web): use correct endpoint for growth suggestions generation
  apps/web/src/components/GrowthSuggestions.tsx
  apps/web/src/services/interpretations.ts
  scripts/fix_user_credits.py
Due: eslint, prettier

fix(migrations): resolve alembic multiple heads conflict
  apps/api/alembic/versions/2026_01_06_0200-fix_search_indices_constraint.py
Due: no-datetime-utcnow

feat(infra): add Celery Worker and Beat services to AWS ECS
  iac/environments/prod/main.tf
  iac/modules/ecs/celery_worker.tf
  iac/modules/ecs/iam.tf
  iac/modules/ecs/variables.tf
Due: none

feat(blog): add blog posts seed script and fix category translations
  apps/web/src/locales/en-US/blog.json
  apps/web/src/locales/pt-BR/blog.json
  scripts/prod_seed_blog.py
Due: prettier

fix(infra): add apex domain to CloudFront aliases
  iac/environments/prod/main.tf
Due: none

fix(ci): pass TF_VAR secrets and prevent Service Discovery replacement
  .github/workflows/terraform-apply.yml
  iac/modules/qdrant/service.tf
Due: none

fix(ci): use secrets.auto.tfvars instead of TF_VAR env for complex types
  .github/workflows/terraform-apply.yml
Due: none

fix(iac): add import blocks for existing AWS secrets
  iac/environments/prod/imports.tf
Due: none

fix(iac): add FRONTEND_URL environment variable for email links
  iac/environments/prod/main.tf
  iac/modules/ecs/celery_worker.tf
  iac/modules/ecs/task.tf
  iac/modules/ecs/variables.tf
Due: none

feat(infra): increase API tasks to 2 for high availability
  iac/environments/prod/variables.tf
Due: none

feat(i18n): implement comprehensive backend i18n for pt-BR and en-US
  apps/api/app/api/v1/endpoints/admin.py
  apps/api/app/api/v1/endpoints/auth.py
  apps/api/app/api/v1/endpoints/charts.py
  apps/api/app/api/v1/endpoints/longevity.py
  apps/api/app/api/v1/endpoints/oauth.py
  apps/api/app/api/v1/endpoints/saturn_return.py
  apps/api/app/api/v1/endpoints/stripe.py
  apps/api/app/api/v1/endpoints/users.py
  apps/api/app/core/i18n/messages.py
  apps/api/app/core/i18n/translations/en_US.json
  apps/api/app/core/i18n/translations/pt_BR.json
  apps/api/app/schemas/auth.py
  apps/api/app/schemas/password.py
  apps/api/app/schemas/user.py
  apps/api/app/services/email.py
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
  apps/web/src/pages/Register.tsx
Due: no-datetime-utcnow, ty, eslint, prettier

feat(e2e): implement Playwright E2E testing infrastructure
  .github/workflows/ci.yml
  .gitignore
  apps/web/.env.e2e.example
  apps/web/e2e/auth.setup.ts
  apps/web/e2e/auth/login.spec.ts
  apps/web/e2e/auth/password-reset.spec.ts
  apps/web/e2e/auth/register.spec.ts
  apps/web/e2e/billing/subscription.spec.ts
  apps/web/e2e/charts/create-chart.spec.ts
  apps/web/e2e/charts/delete-chart.spec.ts
  apps/web/e2e/charts/view-chart.spec.ts
  apps/web/e2e/fixtures/auth.fixture.ts
  apps/web/e2e/fixtures/base.fixture.ts
  apps/web/e2e/fixtures/test-data.ts
  apps/web/e2e/pages/base.page.ts
  apps/web/e2e/pages/chart.page.ts
  apps/web/e2e/pages/dashboard.page.ts
  apps/web/e2e/pages/login.page.ts
  apps/web/e2e/pages/new-chart.page.ts
  apps/web/e2e/pages/pricing.page.ts
  apps/web/e2e/pages/register.page.ts
  apps/web/e2e/smoke.spec.ts
  apps/web/package.json
  apps/web/playwright.config.ts
  apps/web/playwright/.auth/.gitkeep
  package-lock.json
Due: none

feat(analytics): implement missing Amplitude events for credits and subscriptions
  apps/api/app/core/credit_config.py
  apps/api/app/models/enums.py
  apps/api/app/services/credit_service.py
  apps/api/app/services/stripe_webhook_handler.py
  docs/AMPLITUDE_BEST_PRACTICES.md
Due: no-datetime-utcnow, ty

feat(admin): implement Admin Portal MVP with Dashboard and Users List
  apps/web/src/App.tsx
  apps/web/src/components/AdminRoute.tsx
  apps/web/src/layouts/AdminLayout.tsx
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
  apps/web/src/pages/admin/AdminDashboard.tsx
  apps/web/src/pages/admin/AdminUsers.tsx
  apps/web/src/services/admin.ts
  apps/web/src/types/admin.ts
Due: eslint, prettier

feat(admin): add admin button to navbar for admin users
  apps/web/src/components/NavActions.tsx
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
Due: eslint, prettier

fix(tests): set DEFAULT_LOCALE=en-US for consistent test messages
  apps/api/tests/conftest.py
  apps/api/tests/test_api/test_pdf_endpoints.py
  apps/api/tests/test_api/test_users.py
Due: none

fix(web): exclude e2e tests from vitest unit test runs
  apps/web/vite.config.ts
Due: none

fix(ci): use correct password_hash field name in E2E user creation
  .github/workflows/ci.yml
Due: none

fix(e2e): add timeouts to prevent tests from hanging
  apps/web/playwright.config.ts
Due: none

fix(ci): start frontend server manually for E2E tests
  .github/workflows/ci.yml
  apps/web/playwright.config.ts
Due: none

fix(ci): make E2E tests non-blocking with timeout
  .github/workflows/ci.yml
Due: none

fix(ci): skip E2E tests in deployment workflow
  .github/workflows/ci.yml
Due: none

fix(ci): properly skip E2E tests in deployment workflow
  .github/workflows/ci.yml
  .github/workflows/deploy-prod.yml
Due: none

fix(web): check is_superuser for admin access
  apps/web/src/hooks/usePermissions.ts
Due: eslint, prettier

fix(web): fallback to pt-BR blog posts when locale has none
  apps/web/src/pages/Blog.tsx
Due: eslint, prettier

fix(web): improve error handling for planetary terms
  apps/web/src/components/PlanetaryTerms.tsx
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
Due: eslint, prettier

feat(iac): configure Stripe payment integration in ECS
  iac/environments/prod/main.tf
  iac/environments/prod/terraform.tfvars
  iac/environments/prod/variables.tf
  iac/modules/ecs/task.tf
  iac/modules/ecs/variables.tf
Due: none

fix(api): parse STRIPE_PRICE_IDS JSON from AWS Secrets Manager
  apps/api/app/core/config.py
Due: no-datetime-utcnow, ty
