Repository lmeazzini/astro-natal-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  python: python3.11

repos:
  # =============================================================================
  # General hooks
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^apps/web/src/locales/
      - id: end-of-file-fixer
        exclude: ^apps/web/src/locales/
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in YAML
      - id: check-json
        exclude: ^apps/web/tsconfig.*\.json$  # tsconfig files allow comments (JSONC)
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
        exclude: ^nginx/localhost\.key$  # Dev-only self-signed cert for local HTTPS

  # =============================================================================
  # Backend (Python) - Ruff for linting and formatting
  # =============================================================================
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^apps/api/
      - id: ruff-format
        files: ^apps/api/

  # =============================================================================
  # Backend (Python) - Mypy for type checking
  # =============================================================================
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd apps/api && uv run mypy app/'
        language: system
        files: ^apps/api/app/.*\.py$
        pass_filenames: false
        # Note: pass_filenames=false because mypy needs to analyze the entire
        # codebase for proper type inference. Running on individual files would
        # miss cross-module type errors.

  # =============================================================================
  # Frontend (TypeScript/JavaScript) - Using local ESLint and Prettier
  # =============================================================================
  # Note: pass_filenames=false is intentional for frontend hooks because:
  # 1. ESLint and Prettier are configured via npm scripts with project-specific settings
  # 2. Running on individual files would miss project-wide configuration
  # 3. The file patterns in 'files:' still ensure hooks only run when relevant files change
  # 4. This ensures consistent behavior with local development (`npm run lint`)
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd apps/web && npm run lint'
        language: system
        files: ^apps/web/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd apps/web && npx prettier --check "src/**/*.{ts,tsx,css,json}" --ignore-path .gitignore'
        language: system
        files: ^apps/web/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # =============================================================================
  # Conventional Commits
  # =============================================================================
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

fix(tests): add missing fixtures for Amplitude tracking tests
  apps/api/tests/conftest.py
  apps/api/tests/test_api/test_amplitude_tracking.py
Due: none

feat(analytics): Amplitude tracking for User Profile & Settings (#219) (#237)
  apps/api/app/api/v1/endpoints/oauth.py
  apps/api/app/api/v1/endpoints/privacy.py
  apps/api/app/api/v1/endpoints/users.py
  apps/api/app/services/oauth_service.py
  apps/api/app/tasks/privacy.py
  apps/api/tests/conftest.py
  apps/api/tests/test_api/test_amplitude_tracking.py
  apps/web/src/pages/Profile.tsx
Due: mypy, eslint, prettier

chore: migrate from mypy to ty type checker (#234)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  apps/api/pyproject.toml
  apps/api/uv.lock
Due: none

fix: resolve mypy and ruff linting errors in CI
  apps/api/app/api/v1/endpoints/privacy.py
  apps/api/tests/conftest.py
Due: mypy

fix: use extra_data instead of details for AuditLog in more places
  apps/api/app/api/v1/endpoints/cache.py
  apps/api/app/tasks/privacy.py
Due: mypy

fix: update test to expect 204 status from DELETE /users/me
  apps/api/tests/test_api/test_amplitude_tracking.py
Due: none

fix: add amplitude tracking to users.py delete endpoint
  apps/api/app/api/v1/endpoints/users.py
  apps/api/tests/test_api/test_amplitude_tracking.py
Due: mypy

fix: use timezone-aware datetime in chart service test
  apps/api/tests/test_services/test_chart_service.py
Due: none

chore: migrate from mypy to ty type checker (#234) (#238)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  apps/api/app/api/v1/endpoints/cache.py
  apps/api/app/api/v1/endpoints/privacy.py
  apps/api/app/api/v1/endpoints/users.py
  apps/api/app/tasks/privacy.py
  apps/api/pyproject.toml
  apps/api/tests/conftest.py
  apps/api/tests/test_api/test_amplitude_tracking.py
  apps/api/tests/test_services/test_chart_service.py
  apps/api/uv.lock
Due: mypy

feat: implement subscription history tracking (#214)
  apps/api/alembic/versions/2025_12_23_1700-a1b2c3d4e5f6_add_subscription_history_table.py
  apps/api/app/api/v1/endpoints/admin.py
  apps/api/app/models/__init__.py
  apps/api/app/models/enums.py
  apps/api/app/models/subscription_history.py
  apps/api/app/repositories/subscription_history_repository.py
  apps/api/app/schemas/subscription.py
  apps/api/app/services/subscription_service.py
  apps/api/tests/test_api/test_subscription_history_endpoint.py
  apps/api/tests/test_services/test_subscription_history.py
Due: mypy

feat: implement subscription history tracking (#214) (#250)
  apps/api/alembic/versions/2025_12_23_1700-a1b2c3d4e5f6_add_subscription_history_table.py
  apps/api/app/api/v1/endpoints/admin.py
  apps/api/app/models/__init__.py
  apps/api/app/models/enums.py
  apps/api/app/models/subscription_history.py
  apps/api/app/repositories/subscription_history_repository.py
  apps/api/app/schemas/subscription.py
  apps/api/app/services/subscription_service.py
  apps/api/tests/test_api/test_subscription_history_endpoint.py
  apps/api/tests/test_services/test_subscription_history.py
Due: mypy

feat: architecture improvements for chart generation (#233)
  apps/api/app/api/v1/endpoints/charts.py
  apps/api/app/core/celery_app.py
Due: mypy

fix: add rollback on task dispatch failure and restore task ID in error
  apps/api/app/api/v1/endpoints/charts.py
Due: mypy

feat: architecture improvements for chart generation (#233) (#251)
  apps/api/app/api/v1/endpoints/charts.py
  apps/api/app/core/celery_app.py
Due: mypy

fix: view counter incrementing by 6 instead of 1 (#231)
  apps/api/app/api/v1/endpoints/public_charts.py
  apps/api/app/services/view_dedup_service.py
Due: mypy

perf: use connection pooling and atomic SET NX for view dedup
  apps/api/app/services/view_dedup_service.py
Due: mypy

feat(infra): setup Terraform base structure with S3 remote state (#239)
  .gitignore
  iac/.env.example
  iac/.gitignore
  iac/README.md
  iac/bootstrap/README.md
  iac/bootstrap/main.tf
  iac/bootstrap/outputs.tf
  iac/bootstrap/variables.tf
  iac/environments/dev/main.tf
  iac/environments/dev/outputs.tf
  iac/environments/dev/terraform.tfvars
  iac/environments/dev/variables.tf
  iac/modules/.gitkeep
  iac/scripts/init-backend.sh
Due: none

feat(infra): setup Terraform base structure with S3 remote state (#239) (#253)
  .gitignore
  iac/.env.example
  iac/.gitignore
  iac/README.md
  iac/bootstrap/README.md
  iac/bootstrap/main.tf
  iac/bootstrap/outputs.tf
  iac/bootstrap/variables.tf
  iac/environments/dev/main.tf
  iac/environments/dev/outputs.tf
  iac/environments/dev/terraform.tfvars
  iac/environments/dev/variables.tf
  iac/modules/.gitkeep
  iac/scripts/init-backend.sh
Due: none

fix: view counter incrementing by 6 instead of 1 (#231) (#252)
  apps/api/app/api/v1/endpoints/public_charts.py
  apps/api/app/services/view_dedup_service.py
Due: mypy

feat(iac): add VPC module with single AZ architecture (#240)
  iac/environments/dev/main.tf
  iac/environments/dev/outputs.tf
  iac/environments/dev/terraform.tfvars
  iac/environments/dev/variables.tf
  iac/modules/vpc/README.md
  iac/modules/vpc/main.tf
  iac/modules/vpc/nat.tf
  iac/modules/vpc/outputs.tf
  iac/modules/vpc/security.tf
  iac/modules/vpc/variables.tf
Due: none

feat(iac): add VPC module with single AZ architecture (#240) (#254)
  iac/environments/dev/main.tf
  iac/environments/dev/outputs.tf
  iac/environments/dev/terraform.tfvars
  iac/environments/dev/variables.tf
  iac/modules/vpc/README.md
  iac/modules/vpc/main.tf
  iac/modules/vpc/nat.tf
  iac/modules/vpc/outputs.tf
  iac/modules/vpc/security.tf
  iac/modules/vpc/variables.tf
Due: none

feat: add Amplitude tracking for premium features (#220)
  apps/api/app/services/subscription_service.py
  apps/web/src/components/PremiumFeatureGate.tsx
  apps/web/src/components/PremiumUpsell.tsx
  apps/web/src/pages/Pricing.tsx
  docs/AMPLITUDE_BEST_PRACTICES.md
Due: mypy, eslint, prettier

fix: address review feedback for Amplitude tracking
  apps/web/src/components/PremiumFeatureGate.tsx
  apps/web/src/components/PremiumUpsell.tsx
  apps/web/src/pages/Pricing.tsx
Due: eslint, prettier

feat(iac): add RDS and ElastiCache modules (#241, #242)
  iac/environments/dev/main.tf
  iac/environments/dev/outputs.tf
  iac/environments/dev/terraform.tfvars
  iac/environments/dev/variables.tf
  iac/modules/elasticache/README.md
  iac/modules/elasticache/main.tf
  iac/modules/elasticache/outputs.tf
  iac/modules/elasticache/variables.tf
  iac/modules/rds/README.md
  iac/modules/rds/main.tf
  iac/modules/rds/outputs.tf
  iac/modules/rds/variables.tf
Due: none

feat: add Amplitude tracking for premium features (#220) (#255)
  apps/api/app/services/subscription_service.py
  apps/web/src/components/PremiumFeatureGate.tsx
  apps/web/src/components/PremiumUpsell.tsx
  apps/web/src/pages/Pricing.tsx
  docs/AMPLITUDE_BEST_PRACTICES.md
Due: mypy, eslint, prettier

feat(iac): add RDS and ElastiCache modules (#241, #242) (#256)
  iac/environments/dev/main.tf
  iac/environments/dev/outputs.tf
  iac/environments/dev/terraform.tfvars
  iac/environments/dev/variables.tf
  iac/modules/elasticache/README.md
  iac/modules/elasticache/main.tf
  iac/modules/elasticache/outputs.tf
  iac/modules/elasticache/variables.tf
  iac/modules/rds/README.md
  iac/modules/rds/main.tf
  iac/modules/rds/outputs.tf
  iac/modules/rds/variables.tf
Due: none

feat(ecs): add ECS Fargate module with Spot instances (#243)
  iac/environments/dev/main.tf
  iac/environments/dev/outputs.tf
  iac/environments/dev/terraform.tfvars
  iac/environments/dev/variables.tf
  iac/modules/ecs/README.md
  iac/modules/ecs/alb.tf
  iac/modules/ecs/iam.tf
  iac/modules/ecs/main.tf
  iac/modules/ecs/outputs.tf
  iac/modules/ecs/service.tf
  iac/modules/ecs/task.tf
  iac/modules/ecs/variables.tf
Due: none

feat: add Amplitude tracking for content & engagement (#221)
  apps/web/src/pages/Blog.tsx
  apps/web/src/pages/BlogPost.tsx
  apps/web/src/pages/PublicChartDetail.tsx
  apps/web/src/pages/PublicCharts.tsx
  apps/web/src/pages/RagDocuments.tsx
  docs/AMPLITUDE_BEST_PRACTICES.md
Due: eslint, prettier

fix(ecs): address code review recommendations
  iac/modules/ecs/README.md
  iac/modules/ecs/alb.tf
  iac/modules/ecs/iam.tf
  iac/modules/ecs/main.tf
  iac/modules/ecs/task.tf
  iac/modules/ecs/variables.tf
Due: none

fix: address code review suggestions for Amplitude tracking
  apps/web/src/pages/Blog.tsx
  apps/web/src/pages/BlogPost.tsx
  apps/web/src/pages/PublicChartDetail.tsx
Due: eslint, prettier

feat(ecs): add ECS Fargate module with Spot instances (#243) (#257)
  iac/environments/dev/main.tf
  iac/environments/dev/outputs.tf
  iac/environments/dev/terraform.tfvars
  iac/environments/dev/variables.tf
  iac/modules/ecs/README.md
  iac/modules/ecs/alb.tf
  iac/modules/ecs/iam.tf
  iac/modules/ecs/main.tf
  iac/modules/ecs/outputs.tf
  iac/modules/ecs/service.tf
  iac/modules/ecs/task.tf
  iac/modules/ecs/variables.tf
Due: none

feat: add Amplitude tracking for content & engagement (#221) (#258)
  apps/web/src/pages/Blog.tsx
  apps/web/src/pages/BlogPost.tsx
  apps/web/src/pages/PublicChartDetail.tsx
  apps/web/src/pages/PublicCharts.tsx
  apps/web/src/pages/RagDocuments.tsx
  docs/AMPLITUDE_BEST_PRACTICES.md
Due: eslint, prettier

feat(iac): add CloudFront module for frontend hosting (#244)
  iac/environments/dev/main.tf
  iac/environments/dev/outputs.tf
  iac/modules/cloudfront/README.md
  iac/modules/cloudfront/main.tf
  iac/modules/cloudfront/oac.tf
  iac/modules/cloudfront/outputs.tf
  iac/modules/cloudfront/s3.tf
  iac/modules/cloudfront/variables.tf
Due: none

feat: add Amplitude tracking for error & performance monitoring (#222)
  apps/web/src/components/ErrorBoundary.tsx
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/usePerformanceMonitoring.ts
  apps/web/src/main.tsx
  apps/web/src/services/api.ts
  apps/web/src/utils/errorSanitizer.ts
  docs/AMPLITUDE_BEST_PRACTICES.md
Due: eslint, prettier

feat(iac): add security headers, origin shield, and cache optimizations
  iac/modules/cloudfront/README.md
  iac/modules/cloudfront/main.tf
  iac/modules/cloudfront/variables.tf
Due: none

feat(iac): add CloudFront module for frontend hosting (#244) (#259)
  iac/environments/dev/main.tf
  iac/environments/dev/outputs.tf
  iac/modules/cloudfront/README.md
  iac/modules/cloudfront/main.tf
  iac/modules/cloudfront/oac.tf
  iac/modules/cloudfront/outputs.tf
  iac/modules/cloudfront/s3.tf
  iac/modules/cloudfront/variables.tf
Due: none

feat: add Amplitude tracking for error & performance monitoring (#222) (#260)
  apps/web/src/components/ErrorBoundary.tsx
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/usePerformanceMonitoring.ts
  apps/web/src/main.tsx
  apps/web/src/services/api.ts
  apps/web/src/utils/errorSanitizer.ts
  docs/AMPLITUDE_BEST_PRACTICES.md
Due: eslint, prettier

feat(iac): add AWS Secrets Manager module (#245)
  iac/environments/dev/main.tf
  iac/modules/ecs/iam.tf
  iac/modules/ecs/task.tf
  iac/modules/ecs/variables.tf
  iac/modules/secrets/README.md
  iac/modules/secrets/main.tf
  iac/modules/secrets/outputs.tf
  iac/modules/secrets/variables.tf
Due: none

docs: complete Amplitude event catalog and documentation (#223)
  CLAUDE.md
  docs/AMPLITUDE_BEST_PRACTICES.md
  docs/AMPLITUDE_EVENT_CATALOG.csv
Due: none

docs: complete Amplitude event catalog and documentation (#223) (#262)
  CLAUDE.md
  docs/AMPLITUDE_BEST_PRACTICES.md
  docs/AMPLITUDE_EVENT_CATALOG.csv
Due: none
