Repository lmeazzini/astro-natal-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  python: python3.11

repos:
  # =============================================================================
  # General hooks
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^apps/web/src/locales/
      - id: end-of-file-fixer
        exclude: ^apps/web/src/locales/
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in YAML
      - id: check-json
        exclude: ^apps/web/tsconfig.*\.json$  # tsconfig files allow comments (JSONC)
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
        exclude: ^nginx/localhost\.key$  # Dev-only self-signed cert for local HTTPS

  # =============================================================================
  # Backend (Python) - Ruff for linting and formatting
  # =============================================================================
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^apps/api/
      - id: ruff-format
        files: ^apps/api/

  # =============================================================================
  # Backend (Python) - Mypy for type checking
  # =============================================================================
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd apps/api && uv run mypy app/'
        language: system
        files: ^apps/api/app/.*\.py$
        pass_filenames: false
        # Note: pass_filenames=false because mypy needs to analyze the entire
        # codebase for proper type inference. Running on individual files would
        # miss cross-module type errors.

  # =============================================================================
  # Frontend (TypeScript/JavaScript) - Using local ESLint and Prettier
  # =============================================================================
  # Note: pass_filenames=false is intentional for frontend hooks because:
  # 1. ESLint and Prettier are configured via npm scripts with project-specific settings
  # 2. Running on individual files would miss project-wide configuration
  # 3. The file patterns in 'files:' still ensure hooks only run when relevant files change
  # 4. This ensures consistent behavior with local development (`npm run lint`)
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd apps/web && npm run lint'
        language: system
        files: ^apps/web/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd apps/web && npx prettier --check "src/**/*.{ts,tsx,css,json}" --ignore-path .gitignore'
        language: system
        files: ^apps/web/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # =============================================================================
  # Conventional Commits
  # =============================================================================
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

feat: implement prenatal syzygy (issue #132)
  apps/api/app/astro/prenatal_syzygy.py
  apps/api/app/services/astro_service.py
  apps/api/app/translations/en_US/__init__.py
  apps/api/app/translations/en_US/prenatal_syzygy.py
  apps/api/app/translations/pt_BR/__init__.py
  apps/api/app/translations/pt_BR/prenatal_syzygy.py
  apps/api/tests/test_astro/test_prenatal_syzygy.py
  apps/web/src/components/PrenatalSyzygy.tsx
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
  apps/web/src/pages/ChartDetail.tsx
  apps/web/src/services/charts.ts
Due: mypy, eslint, prettier

feat: implement prenatal syzygy (issue #132) (#278)
  apps/api/app/astro/prenatal_syzygy.py
  apps/api/app/services/astro_service.py
  apps/api/app/translations/en_US/__init__.py
  apps/api/app/translations/en_US/prenatal_syzygy.py
  apps/api/app/translations/pt_BR/__init__.py
  apps/api/app/translations/pt_BR/prenatal_syzygy.py
  apps/api/tests/test_astro/test_prenatal_syzygy.py
  apps/web/src/components/PrenatalSyzygy.tsx
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
  apps/web/src/pages/ChartDetail.tsx
  apps/web/src/services/charts.ts
Due: mypy, eslint, prettier

feat: redesign landing page with Midnight & Paper theme
  apps/web/src/App.tsx
  apps/web/src/assets/ancient_celestial_map_background.jpg
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
  apps/web/src/pages/ChartDetail.tsx
  apps/web/src/pages/Charts.tsx
  apps/web/src/pages/Landing.tsx
  apps/web/src/pages/Profile.tsx
  apps/web/src/styles/globals.css
Due: eslint, prettier

docs: update design reference and add to CLAUDE.md
  CLAUDE.md
  apps/web/package.json
  package-lock.json
  ux/DESIGN_REFERENCE.md
Due: none

refactor: improve landing page performance and reduce duplication
  apps/web/src/App.tsx
  apps/web/src/components/NavActions.tsx
  apps/web/src/pages/ChartDetail.tsx
  apps/web/src/pages/Charts.tsx
  apps/web/src/pages/Landing.tsx
  apps/web/src/pages/Profile.tsx
Due: eslint, prettier

style: update email templates to Midnight & Paper design
  apps/api/app/services/email.py
  apps/api/app/templates/emails/welcome.html
  apps/api/app/templates/emails/welcome.txt
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
Due: mypy, prettier

feat: add blog post internationalization (i18n) support
  apps/api/alembic/versions/2025_12_29_1837-9d38e6334e7c_add_blog_i18n_support.py
  apps/api/app/api/v1/endpoints/blog.py
  apps/api/app/models/blog_post.py
  apps/api/app/repositories/blog_repository.py
  apps/api/app/schemas/blog.py
  apps/api/app/services/blog_service.py
  apps/api/scripts/seed_astros_e_mitos.py
  apps/api/scripts/seed_blog_posts.py
  apps/web/src/i18n/config.ts
  apps/web/src/locales/en-US/blog.json
  apps/web/src/locales/pt-BR/blog.json
  apps/web/src/pages/Blog.tsx
  apps/web/src/pages/BlogPost.tsx
  apps/web/src/services/blog.ts
Due: mypy, eslint, prettier

feat: improve hyleg calculations and add translations
  apps/api/app/astro/hyleg.py
  apps/api/app/translations/en_US/astrology.py
  apps/api/app/translations/en_US/mentality.py
  apps/api/app/translations/pt_BR/astrology.py
  apps/api/app/translations/pt_BR/mentality.py
  apps/web/src/components/LongevityAnalysis.tsx
  apps/web/src/locales/en-US/astrology.json
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/astrology.json
  apps/web/src/locales/pt-BR/translation.json
Due: mypy, eslint, prettier

fix: address code review feedback for blog i18n
  apps/api/alembic/versions/2025_12_29_1837-9d38e6334e7c_add_blog_i18n_support.py
  apps/api/app/api/deps.py
  apps/api/app/api/v1/endpoints/blog.py
  apps/api/app/models/blog_post.py
  apps/api/app/repositories/blog_repository.py
  apps/api/app/services/blog_service.py
  apps/api/tests/conftest.py
  apps/api/tests/test_api/test_blog_i18n.py
  apps/web/src/pages/Blog.tsx
  apps/web/src/pages/BlogPost.tsx
Due: mypy, eslint, prettier

fix: address code review feedback for landing page redesign
  apps/api/app/core/email_theme.py
  apps/web/src/pages/Landing.tsx
  apps/web/src/styles/globals.css
Due: mypy, eslint, prettier

feat: implement Saturn Return calculation and interpretation (#155)
  apps/api/app/api/v1/endpoints/saturn_return.py
  apps/api/app/api/v1/router.py
  apps/api/app/astro/saturn_return.py
  apps/api/app/schemas/saturn_return.py
  apps/api/app/translations/en_US/__init__.py
  apps/api/app/translations/en_US/saturn_return.py
  apps/api/app/translations/pt_BR/__init__.py
  apps/api/app/translations/pt_BR/saturn_return.py
  apps/api/tests/test_astro/test_saturn_return.py
  apps/web/src/components/SaturnReturnAnalysis.tsx
  apps/web/src/components/ui/progress.tsx
  apps/web/src/locales/en-US/astrology.json
  apps/web/src/locales/pt-BR/astrology.json
  apps/web/src/pages/ChartDetail.tsx
  apps/web/src/services/saturn_return.ts
  apps/web/src/types/saturn_return.ts
Due: mypy, eslint, prettier

fix: address code review feedback for Saturn Return feature
  apps/api/app/api/v1/endpoints/saturn_return.py
  apps/api/app/astro/saturn_return.py
  apps/web/src/components/SaturnReturnAnalysis.tsx
  apps/web/src/pages/ChartDetail.tsx
Due: mypy, eslint, prettier

feat: add Saturn Return calculation to birth charts
  apps/api/app/services/astro_service.py
  apps/web/src/utils/astro.ts
Due: mypy, eslint, prettier

feat: implement Solar Return (Revolução Solar) calculation (issue #128)
  apps/api/app/api/v1/endpoints/solar_return.py
  apps/api/app/api/v1/router.py
  apps/api/app/astro/solar_return.py
  apps/api/app/schemas/solar_return.py
  apps/api/app/translations/en_US/__init__.py
  apps/api/app/translations/en_US/solar_return.py
  apps/api/app/translations/pt_BR/__init__.py
  apps/api/app/translations/pt_BR/solar_return.py
  apps/api/scripts/regenerate_interpretations.py
  apps/api/tests/test_astro/test_solar_return.py
  apps/web/src/components/SaturnReturnAnalysis.tsx
  apps/web/src/components/SolarReturnAnalysis.tsx
  apps/web/src/locales/en-US/astrology.json
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/astrology.json
  apps/web/src/locales/pt-BR/translation.json
  apps/web/src/pages/ChartDetail.tsx
  apps/web/src/services/solar_return.ts
  apps/web/src/types/solar_return.ts
Due: mypy, eslint, prettier

feat: implement Solar Return (Revolução Solar) calculation (issue #128) (#290)
  apps/api/app/api/v1/endpoints/solar_return.py
  apps/api/app/api/v1/router.py
  apps/api/app/astro/solar_return.py
  apps/api/app/schemas/solar_return.py
  apps/api/app/translations/en_US/__init__.py
  apps/api/app/translations/en_US/solar_return.py
  apps/api/app/translations/pt_BR/__init__.py
  apps/api/app/translations/pt_BR/solar_return.py
  apps/api/scripts/regenerate_interpretations.py
  apps/api/tests/test_astro/test_solar_return.py
  apps/web/src/components/SaturnReturnAnalysis.tsx
  apps/web/src/components/SolarReturnAnalysis.tsx
  apps/web/src/locales/en-US/astrology.json
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/astrology.json
  apps/web/src/locales/pt-BR/translation.json
  apps/web/src/pages/ChartDetail.tsx
  apps/web/src/services/solar_return.ts
  apps/web/src/types/solar_return.ts
Due: mypy, eslint, prettier

fix: add missing Solar Return translations and update CLAUDE.md
  CLAUDE.md
  apps/api/scripts/regenerate_interpretations.py
  apps/web/src/locales/en-US/astrology.json
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/astrology.json
  apps/web/src/locales/pt-BR/translation.json
Due: prettier

fix: correct container name in deploy-prod workflow
  .github/workflows/deploy-prod.yml
Due: none

chore: remove legacy EC2 deploy workflow
  .github/workflows/deploy.yml
Due: none

fix(iac): add multi-AZ support for ALB and RDS subnet groups
  iac/environments/dev/main.tf
  iac/environments/dev/tfplan
  iac/modules/ecs/alb.tf
  iac/modules/ecs/variables.tf
  iac/modules/s3/main.tf
  iac/modules/vpc/main.tf
  iac/modules/vpc/outputs.tf
  iac/modules/vpc/variables.tf
Due: none

chore: remove tfplan file
  iac/environments/dev/tfplan
Due: none

chore: add tfplan to .gitignore
  iac/.gitignore
Due: none

fix(iac): update Terraform version to 1.10.3
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan.yml
Due: none

feat(iac): add production environment
  .github/workflows/deploy-prod.yml
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan.yml
  iac/environments/prod/main.tf
  iac/environments/prod/outputs.tf
  iac/environments/prod/terraform.tfvars
  iac/environments/prod/variables.tf
Due: none

fix: resolve CI/CD type check issues
  apps/api/app/services/credit_service.py
  apps/api/app/services/stripe_webhook_handler.py
  apps/api/pyproject.toml
Due: mypy

feat: add premium feature unlock tracking system
  apps/api/app/api/v1/endpoints/credits.py
  apps/api/app/api/v1/endpoints/growth.py
  apps/api/app/api/v1/endpoints/longevity.py
  apps/api/app/api/v1/endpoints/saturn_return.py
  apps/api/app/api/v1/endpoints/solar_return.py
  apps/api/app/core/credit_config.py
  apps/api/app/models/enums.py
  apps/api/app/repositories/credit_transaction_repository.py
  apps/api/app/schemas/credit.py
  apps/api/app/services/credit_service.py
  apps/api/tests/test_api/test_longevity.py
  apps/web/src/components/PremiumFeatureCard.tsx
  apps/web/src/components/SolarReturnAnalysis.tsx
  apps/web/src/pages/ChartDetail.tsx
  apps/web/src/services/credits.ts
  apps/web/src/services/longevity.ts
Due: mypy, eslint, prettier

feat(iac): add Stripe secrets configuration
  iac/environments/dev/main.tf
  iac/environments/dev/variables.tf
  iac/environments/prod/main.tf
  iac/environments/prod/variables.tf
  iac/modules/ecs/task.tf
  iac/modules/ecs/variables.tf
  iac/modules/secrets/main.tf
  iac/modules/secrets/outputs.tf
  iac/modules/secrets/variables.tf
Due: none

feat(iac): add Stripe secrets configuration (#299)
  iac/environments/dev/main.tf
  iac/environments/dev/variables.tf
  iac/environments/prod/main.tf
  iac/environments/prod/variables.tf
  iac/modules/ecs/task.tf
  iac/modules/ecs/variables.tf
  iac/modules/secrets/main.tf
  iac/modules/secrets/outputs.tf
  iac/modules/secrets/variables.tf
Due: none

feat(iac): configure production VPC subnets and domain
  iac/environments/prod/main.tf
  iac/environments/prod/terraform.tfvars
  iac/environments/prod/variables.tf
Due: none

ci: add workflow_dispatch trigger to deploy workflow
  .github/workflows/deploy-prod.yml
Due: none

fix(alembic): escape % in DATABASE_URL for configparser
  apps/api/alembic/env.py
Due: none

feat(iac): add OpenAI secret and CORS config to ECS module
  iac/environments/prod/main.tf
  iac/environments/prod/variables.tf
  iac/modules/ecs/task.tf
  iac/modules/ecs/variables.tf
Due: none

fix(ci): remove 'latest' tag push to avoid ECR immutability error
  .github/workflows/deploy-prod.yml
Due: none

fix(ci): avoid secret masking by constructing image URL in deploy job
  .github/workflows/deploy-prod.yml
Due: none

fix(ci): add --interactive flag to ecs execute-command for migrations
  .github/workflows/deploy-prod.yml
Due: none

fix(ci): use 'uv run alembic' for migrations in container
  .github/workflows/deploy-prod.yml
Due: none

feat(iac): add Qdrant vector database with EFS persistence
  iac/environments/prod/main.tf
  iac/environments/prod/variables.tf
  iac/modules/ecs/task.tf
  iac/modules/ecs/variables.tf
  iac/modules/efs/main.tf
  iac/modules/efs/outputs.tf
  iac/modules/efs/variables.tf
  iac/modules/qdrant/iam.tf
  iac/modules/qdrant/main.tf
  iac/modules/qdrant/outputs.tf
  iac/modules/qdrant/service.tf
  iac/modules/qdrant/variables.tf
  iac/modules/vpc/outputs.tf
  iac/modules/vpc/security.tf
Due: none
