Repository lmeazzini/astro-natal-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, prettier

mypy:
  name: mypy
  entry: bash -c 'cd apps/api && uv run mypy app/'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd apps/web && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd apps/web && npx prettier --check "src/**/*.{ts,tsx,css,json}" --ignore-path .gitignore'
  language: system
  pass_filenames: false

fix(iac): implement code review suggestions for secrets module
  iac/environments/dev/main.tf
  iac/modules/secrets/main.tf
  iac/modules/secrets/outputs.tf
Due: none

feat(iac): add AWS Secrets Manager module (#245) (#261)
  iac/environments/dev/main.tf
  iac/modules/ecs/iam.tf
  iac/modules/ecs/task.tf
  iac/modules/ecs/variables.tf
  iac/modules/secrets/README.md
  iac/modules/secrets/main.tf
  iac/modules/secrets/outputs.tf
  iac/modules/secrets/variables.tf
Due: none

feat: complete remaining Amplitude events and add Session Replay (#218)
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/components/AspectGrid.tsx
  apps/web/src/components/GrowthSuggestions.tsx
  apps/web/src/components/PlanetList.tsx
  apps/web/src/contexts/AuthContext.tsx
  apps/web/src/pages/ChartDetail.tsx
  apps/web/src/pages/RagDocuments.tsx
  apps/web/src/services/amplitude.ts
  docs/AMPLITUDE_BEST_PRACTICES.md
  docs/AMPLITUDE_EVENT_CATALOG.csv
  package-lock.json
Due: eslint, prettier

refactor: remove redundant session_started/session_ended events
  apps/web/src/App.tsx
Due: eslint, prettier

docs: update event catalog after removing redundant session events
  docs/AMPLITUDE_BEST_PRACTICES.md
  docs/AMPLITUDE_EVENT_CATALOG.csv
Due: none

feat: Complete remaining Amplitude events and add Session Replay (#218) (#263)
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/components/AspectGrid.tsx
  apps/web/src/components/GrowthSuggestions.tsx
  apps/web/src/components/PlanetList.tsx
  apps/web/src/contexts/AuthContext.tsx
  apps/web/src/pages/ChartDetail.tsx
  apps/web/src/pages/RagDocuments.tsx
  apps/web/src/services/amplitude.ts
  docs/AMPLITUDE_BEST_PRACTICES.md
  docs/AMPLITUDE_EVENT_CATALOG.csv
  package-lock.json
Due: eslint, prettier

feat(iac): add S3 buckets module for PDFs and backups (#246)
  iac/environments/dev/main.tf
  iac/modules/ecs/iam.tf
  iac/modules/ecs/variables.tf
  iac/modules/s3/README.md
  iac/modules/s3/iam.tf
  iac/modules/s3/lifecycle.tf
  iac/modules/s3/main.tf
  iac/modules/s3/outputs.tf
  iac/modules/s3/variables.tf
Due: none

fix(iac): implement S3 module code review recommendations
  iac/modules/s3/README.md
  iac/modules/s3/iam.tf
  iac/modules/s3/lifecycle.tf
  iac/modules/s3/main.tf
  iac/modules/s3/variables.tf
Due: none

feat(iac): add S3 buckets module for PDFs and backups (#246) (#264)
  iac/environments/dev/main.tf
  iac/modules/ecs/iam.tf
  iac/modules/ecs/variables.tf
  iac/modules/s3/README.md
  iac/modules/s3/iam.tf
  iac/modules/s3/lifecycle.tf
  iac/modules/s3/main.tf
  iac/modules/s3/outputs.tf
  iac/modules/s3/variables.tf
Due: none

feat: add Astros e Mitos educational blog posts (#160)
  apps/api/scripts/seed_astros_e_mitos.py
Due: none

feat: add Astros e Mitos educational blog posts (#160) (#265)
  apps/api/scripts/seed_astros_e_mitos.py
Due: none

feat(iac): add Route53 and ACM module for DNS and SSL (#247)
  iac/environments/dev/main.tf
  iac/environments/dev/variables.tf
  iac/modules/dns/README.md
  iac/modules/dns/acm.tf
  iac/modules/dns/main.tf
  iac/modules/dns/outputs.tf
  iac/modules/dns/records.tf
  iac/modules/dns/variables.tf
  iac/modules/ecs/alb.tf
  iac/modules/ecs/variables.tf
Due: none

feat(iac): add Route53 and ACM module for DNS and SSL (#247) (#266)
  iac/environments/dev/main.tf
  iac/environments/dev/variables.tf
  iac/modules/dns/README.md
  iac/modules/dns/acm.tf
  iac/modules/dns/main.tf
  iac/modules/dns/outputs.tf
  iac/modules/dns/records.tf
  iac/modules/dns/variables.tf
  iac/modules/ecs/alb.tf
  iac/modules/ecs/variables.tf
Due: none

feat: implement Mentality calculation system (#57)
  apps/api/app/astro/mentality.py
  apps/api/app/services/astro_service.py
  apps/api/app/translations/en_US/__init__.py
  apps/api/app/translations/en_US/mentality.py
  apps/api/app/translations/pt_BR/__init__.py
  apps/api/app/translations/pt_BR/mentality.py
  apps/api/tests/test_astro/test_mentality.py
  apps/web/src/components/MentalityCard.tsx
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
  apps/web/src/pages/ChartDetail.tsx
  apps/web/src/pages/PublicChartDetail.tsx
  apps/web/src/services/charts.ts
Due: mypy, eslint, prettier

refactor: improve mentality module with constants and accessibility
  apps/api/app/astro/mentality.py
  apps/web/src/components/MentalityCard.tsx
Due: mypy, eslint, prettier

feat: implement Mentality calculation system (#57) (#267)
  apps/api/app/astro/mentality.py
  apps/api/app/services/astro_service.py
  apps/api/app/translations/en_US/__init__.py
  apps/api/app/translations/en_US/mentality.py
  apps/api/app/translations/pt_BR/__init__.py
  apps/api/app/translations/pt_BR/mentality.py
  apps/api/tests/test_astro/test_mentality.py
  apps/web/src/components/MentalityCard.tsx
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
  apps/web/src/pages/ChartDetail.tsx
  apps/web/src/pages/PublicChartDetail.tsx
  apps/web/src/services/charts.ts
Due: mypy, eslint, prettier

feat(iac): add CI/CD pipeline for automated deployments (#248)
  .github/workflows/ci.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan.yml
  iac/environments/dev/main.tf
  iac/environments/dev/outputs.tf
  iac/modules/ecr/README.md
  iac/modules/ecr/iam.tf
  iac/modules/ecr/main.tf
  iac/modules/ecr/outputs.tf
  iac/modules/ecr/variables.tf
Due: none

fix: use jq for safe JSON generation in backup metadata (#204)
  scripts/backup-db.sh
Due: none

fix(iac): address code review feedback for CI/CD pipeline
  .github/workflows/deploy-prod.yml
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan.yml
  iac/environments/dev/main.tf
  iac/modules/ecr/main.tf
  iac/modules/ecs/iam.tf
  iac/modules/ecs/variables.tf
Due: none

feat(iac): add CI/CD pipeline for automated deployments (#248) (#268)
  .github/workflows/ci.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan.yml
  iac/environments/dev/main.tf
  iac/environments/dev/outputs.tf
  iac/modules/ecr/README.md
  iac/modules/ecr/iam.tf
  iac/modules/ecr/main.tf
  iac/modules/ecr/outputs.tf
  iac/modules/ecr/variables.tf
  iac/modules/ecs/iam.tf
  iac/modules/ecs/variables.tf
Due: none

docs(iac): add comprehensive IaC documentation (#249)
  iac/README.md
  iac/docs/ARCHITECTURE.md
  iac/docs/COST_OPTIMIZATION.md
  iac/docs/DEPLOYMENT.md
  iac/docs/DISASTER_RECOVERY.md
  iac/docs/ENVIRONMENTS.md
  iac/docs/GETTING_STARTED.md
  iac/docs/MODULES.md
  iac/docs/MONITORING.md
  iac/docs/SECRETS.md
  iac/docs/TROUBLESHOOTING.md
Due: none

docs(iac): add comprehensive IaC documentation (#249) (#270)
  iac/README.md
  iac/docs/ARCHITECTURE.md
  iac/docs/COST_OPTIMIZATION.md
  iac/docs/DEPLOYMENT.md
  iac/docs/DISASTER_RECOVERY.md
  iac/docs/ENVIRONMENTS.md
  iac/docs/GETTING_STARTED.md
  iac/docs/MODULES.md
  iac/docs/MONITORING.md
  iac/docs/SECRETS.md
  iac/docs/TROUBLESHOOTING.md
Due: none

feat: add Qdrant backup/restore testing to disaster recovery
  .github/workflows/backup-test.yml
  docs/DISASTER_RECOVERY.md
  scripts/test-restore.sh
Due: none

feat: add Qdrant backup/restore testing (#208) (#271)
  .github/workflows/backup-test.yml
  docs/DISASTER_RECOVERY.md
  scripts/backup-db.sh
  scripts/test-restore.sh
Due: none

fix: resolve CI failures in dev branch
  .github/workflows/ci.yml
  apps/web/src/services/__tests__/amplitude.test.ts
Due: eslint, prettier

fix: add missing env vars to migrations step
  .github/workflows/ci.yml
Due: none

fix: resolve CI failures in dev branch (#272)
  .github/workflows/ci.yml
  apps/web/src/services/__tests__/amplitude.test.ts
Due: eslint, prettier

fix: add consistent logo to Blog and BlogPost headers
  apps/web/src/pages/Blog.tsx
  apps/web/src/pages/BlogPost.tsx
Due: eslint, prettier

refactor: convert chart_service to class-based with DI (#233)
  apps/api/app/api/v1/endpoints/charts.py
  apps/api/app/services/chart_service.py
  apps/api/tests/test_services/test_chart_service.py
Due: mypy

refactor: convert chart_service to class-based with DI (#233) (#274)
  apps/api/app/api/v1/endpoints/charts.py
  apps/api/app/services/chart_service.py
  apps/api/tests/test_services/test_chart_service.py
Due: mypy

docs: add comprehensive migration guide and verification script (#224)
  Makefile
  docs/MIGRATIONS.md
  scripts/check-migrations.sh
Due: none

docs: add comprehensive migration guide and verification script (#224) (#275)
  Makefile
  docs/MIGRATIONS.md
  scripts/check-migrations.sh
Due: none

feat: implement Hyleg and Alcochoden longevity analysis (#134, #135)
  apps/api/app/api/v1/endpoints/longevity.py
  apps/api/app/api/v1/router.py
  apps/api/app/astro/__init__.py
  apps/api/app/astro/alcochoden.py
  apps/api/app/astro/hyleg.py
  apps/api/app/astro/longevity.py
  apps/api/app/schemas/longevity.py
  apps/api/app/services/astro_service.py
  apps/api/app/translations/en_US/__init__.py
  apps/api/app/translations/en_US/longevity.py
  apps/api/app/translations/pt_BR/__init__.py
  apps/api/app/translations/pt_BR/longevity.py
  apps/api/tests/test_api/test_longevity.py
  apps/api/tests/test_astro/test_alcochoden.py
  apps/api/tests/test_astro/test_hyleg.py
  apps/web/src/components/LongevityAnalysis.tsx
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
  apps/web/src/pages/ChartDetail.tsx
  apps/web/src/services/charts.ts
  apps/web/src/types/longevity.ts
Due: mypy, eslint, prettier

docs: add TDD and implementation workflow guidelines to CLAUDE.md
  CLAUDE.md
Due: none

feat: implement Hyleg and Alcochoden longevity analysis (#134, #135) (#276)
  CLAUDE.md
  apps/api/app/api/v1/endpoints/longevity.py
  apps/api/app/api/v1/router.py
  apps/api/app/astro/__init__.py
  apps/api/app/astro/alcochoden.py
  apps/api/app/astro/hyleg.py
  apps/api/app/astro/longevity.py
  apps/api/app/schemas/longevity.py
  apps/api/app/services/astro_service.py
  apps/api/app/translations/en_US/__init__.py
  apps/api/app/translations/en_US/longevity.py
  apps/api/app/translations/pt_BR/__init__.py
  apps/api/app/translations/pt_BR/longevity.py
  apps/api/tests/test_api/test_longevity.py
  apps/api/tests/test_astro/test_alcochoden.py
  apps/api/tests/test_astro/test_hyleg.py
  apps/web/src/components/LongevityAnalysis.tsx
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
  apps/web/src/pages/ChartDetail.tsx
  apps/web/src/services/charts.ts
  apps/web/src/types/longevity.ts
Due: mypy, eslint, prettier

feat: implement multiple term systems (Egyptian, Ptolemaic, Chaldean, Dorothean) (#133)
  apps/api/app/api/v1/endpoints/terms.py
  apps/api/app/api/v1/router.py
  apps/api/app/astro/dignities.py
  apps/api/app/astro/terms.py
  apps/api/app/schemas/terms.py
  apps/api/app/translations/en_US/dignities.py
  apps/api/app/translations/pt_BR/dignities.py
  apps/api/tests/test_api/test_terms.py
  apps/api/tests/test_astro/test_terms.py
  apps/web/src/components/PlanetaryTerms.tsx
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
  apps/web/src/pages/ChartDetail.tsx
  apps/web/src/services/charts.ts
  apps/web/src/types/terms.ts
Due: mypy, eslint, prettier

fix: add footer.allRightsReserved translation and fix hardcoded string
  apps/web/src/components/PlanetaryTerms.tsx
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
Due: eslint, prettier

fix: implement code review suggestions for terms feature
  apps/api/app/api/v1/endpoints/terms.py
  apps/web/src/components/PlanetaryTerms.tsx
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
Due: mypy, eslint, prettier

feat: implement multiple term systems (Egyptian, Ptolemaic, Chaldean, Dorothean) (#133) (#277)
  apps/api/app/api/v1/endpoints/terms.py
  apps/api/app/api/v1/router.py
  apps/api/app/astro/dignities.py
  apps/api/app/astro/terms.py
  apps/api/app/schemas/terms.py
  apps/api/app/translations/en_US/dignities.py
  apps/api/app/translations/pt_BR/dignities.py
  apps/api/tests/test_api/test_terms.py
  apps/api/tests/test_astro/test_terms.py
  apps/web/src/components/PlanetaryTerms.tsx
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
  apps/web/src/pages/ChartDetail.tsx
  apps/web/src/services/charts.ts
  apps/web/src/types/terms.ts
Due: mypy, eslint, prettier

Path conditions:
  mypy: any of: ^apps/api/app/.*\.py$
  eslint: any of: ^apps/web/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^apps/web/src/.*\.(ts|tsx|css|json)$
