Repository lmeazzini/astro-natal-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  python: python3.11

repos:
  # =============================================================================
  # General hooks
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^apps/web/src/locales/
      - id: end-of-file-fixer
        exclude: ^apps/web/src/locales/
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in YAML
      - id: check-json
        exclude: ^apps/web/tsconfig.*\.json$  # tsconfig files allow comments (JSONC)
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
        exclude: ^nginx/localhost\.key$  # Dev-only self-signed cert for local HTTPS

  # =============================================================================
  # Backend (Python) - Ruff for linting and formatting
  # =============================================================================
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^apps/api/
      - id: ruff-format
        files: ^apps/api/

  # =============================================================================
  # Backend (Python) - Mypy for type checking
  # =============================================================================
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd apps/api && uv run mypy app/'
        language: system
        files: ^apps/api/app/.*\.py$
        pass_filenames: false
        # Note: pass_filenames=false because mypy needs to analyze the entire
        # codebase for proper type inference. Running on individual files would
        # miss cross-module type errors.

  # =============================================================================
  # Frontend (TypeScript/JavaScript) - Using local ESLint and Prettier
  # =============================================================================
  # Note: pass_filenames=false is intentional for frontend hooks because:
  # 1. ESLint and Prettier are configured via npm scripts with project-specific settings
  # 2. Running on individual files would miss project-wide configuration
  # 3. The file patterns in 'files:' still ensure hooks only run when relevant files change
  # 4. This ensures consistent behavior with local development (`npm run lint`)
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd apps/web && npm run lint'
        language: system
        files: ^apps/web/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd apps/web && npx prettier --check "src/**/*.{ts,tsx,css,json}" --ignore-path .gitignore'
        language: system
        files: ^apps/web/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # =============================================================================
  # Conventional Commits
  # =============================================================================
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

fix(devex): address code review feedback for pre-commit hooks
  .pre-commit-config.yaml
  apps/api/pyproject.toml
  apps/api/uv.lock
Due: none

feat(rag): add RAG interpretations for extended Arabic Parts (#195)
  apps/api/app/astro/interpretation_prompts.yaml
  apps/api/tests/test_services/test_interpretation_service_rag.py
  docs/references/arabic_parts/lot_of_children.md
  docs/references/arabic_parts/lot_of_courage.md
  docs/references/arabic_parts/lot_of_exaltation.md
  docs/references/arabic_parts/lot_of_father.md
  docs/references/arabic_parts/lot_of_illness.md
  docs/references/arabic_parts/lot_of_marriage.md
  docs/references/arabic_parts/lot_of_mother.md
  docs/references/arabic_parts/lot_of_reputation.md
  docs/references/arabic_parts/lot_of_victory.md
Due: none

refactor: remove RAG reference documents for Arabic Parts
  docs/references/arabic_parts/lot_of_children.md
  docs/references/arabic_parts/lot_of_courage.md
  docs/references/arabic_parts/lot_of_exaltation.md
  docs/references/arabic_parts/lot_of_father.md
  docs/references/arabic_parts/lot_of_illness.md
  docs/references/arabic_parts/lot_of_marriage.md
  docs/references/arabic_parts/lot_of_mother.md
  docs/references/arabic_parts/lot_of_reputation.md
  docs/references/arabic_parts/lot_of_victory.md
Due: none

refactor(tests): consolidate fixtures and parametrize Arabic Parts tests
  apps/api/tests/test_services/test_interpretation_service_rag.py
Due: none

feat(rag): add RAG interpretations for extended Arabic Parts (#195) (#201)
  apps/api/app/astro/interpretation_prompts.yaml
  apps/api/tests/test_services/test_interpretation_service_rag.py
Due: none

feat(ui): add interactive chart wheel with tooltips, highlights, and zoom (#8)
  apps/web/src/components/chart/ChartTooltip.tsx
  apps/web/src/components/chart/InteractiveChartWheel.tsx
  apps/web/src/components/chart/index.ts
  apps/web/src/hooks/useChartInteraction.ts
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
Due: eslint, prettier

fix(ui): address code review feedback for interactive chart wheel
  apps/web/src/components/chart/ChartTooltip.tsx
  apps/web/src/components/chart/InteractiveChartWheel.tsx
  apps/web/src/hooks/useChartInteraction.ts
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
Due: eslint, prettier

feat(ui): add interactive chart wheel with tooltips, highlights, and zoom (#8) (#202)
  apps/web/src/components/chart/ChartTooltip.tsx
  apps/web/src/components/chart/InteractiveChartWheel.tsx
  apps/web/src/components/chart/index.ts
  apps/web/src/hooks/useChartInteraction.ts
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
Due: eslint, prettier

feat(blog): add public blog with SEO optimizations (#88)
  apps/api/alembic/env.py
  apps/api/alembic/versions/2025_11_25_1230-7a6c838f8b19_add_blog_posts_table.py
  apps/api/app/api/v1/endpoints/admin_blog.py
  apps/api/app/api/v1/endpoints/blog.py
  apps/api/app/api/v1/endpoints/seo.py
  apps/api/app/api/v1/router.py
  apps/api/app/models/__init__.py
  apps/api/app/models/blog_post.py
  apps/api/app/repositories/__init__.py
  apps/api/app/repositories/blog_repository.py
  apps/api/app/schemas/blog.py
  apps/api/app/services/blog_service.py
  apps/api/tests/test_services/test_interpretation_service_rag.py
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
  apps/web/src/pages/Blog.tsx
  apps/web/src/pages/BlogPost.tsx
  apps/web/src/services/blog.ts
  package-lock.json
Due: mypy, eslint, prettier

fix(blog): address code review feedback for PR #203
  apps/api/alembic/versions/2025_11_25_1335-55361a122379_add_is_featured_to_blog_posts.py
  apps/api/app/api/v1/endpoints/seo.py
  apps/api/app/models/blog_post.py
  apps/api/app/schemas/blog.py
  apps/api/app/services/blog_service.py
  apps/api/app/services/personal_growth_service.py
  apps/api/app/services/rag/document_loader.py
  apps/api/app/services/timezone_service.py
  apps/api/app/tasks/cache_tasks.py
  apps/api/scripts/upload_rag_docs_to_s3.py
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
  apps/web/src/pages/Blog.tsx
  apps/web/src/pages/BlogPost.tsx
  apps/web/src/services/blog.ts
Due: mypy, eslint, prettier

feat(blog): add public blog with SEO optimizations (#88) (#203)
  apps/api/alembic/env.py
  apps/api/alembic/versions/2025_11_25_1230-7a6c838f8b19_add_blog_posts_table.py
  apps/api/alembic/versions/2025_11_25_1335-55361a122379_add_is_featured_to_blog_posts.py
  apps/api/app/api/v1/endpoints/admin_blog.py
  apps/api/app/api/v1/endpoints/blog.py
  apps/api/app/api/v1/endpoints/seo.py
  apps/api/app/api/v1/router.py
  apps/api/app/models/__init__.py
  apps/api/app/models/blog_post.py
  apps/api/app/repositories/__init__.py
  apps/api/app/repositories/blog_repository.py
  apps/api/app/schemas/blog.py
  apps/api/app/services/blog_service.py
  apps/api/app/services/personal_growth_service.py
  apps/api/app/services/rag/document_loader.py
  apps/api/app/services/timezone_service.py
  apps/api/app/tasks/cache_tasks.py
  apps/api/scripts/upload_rag_docs_to_s3.py
  apps/api/tests/test_services/test_interpretation_service_rag.py
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
  apps/web/src/pages/Blog.tsx
  apps/web/src/pages/BlogPost.tsx
  apps/web/src/services/blog.ts
  package-lock.json
Due: mypy, eslint, prettier

Add monthly backup test workflow for PostgreSQL
  .github/workflows/backup-test.yml
Due: none

feat: implement disaster recovery tests and restore procedures (#87)
  docs/DISASTER_RECOVERY.md
  scripts/backup-db.sh
  scripts/restore-db.sh
  scripts/test-restore.sh
Due: none

Add monthly backup test workflow
  .github/workflows/backup-test.yml
Due: none

feat: implement disaster recovery tests and restore procedures (#87) (#210)
  .github/workflows/backup-test.yml
  docs/DISASTER_RECOVERY.md
  scripts/backup-db.sh
  scripts/restore-db.sh
  scripts/test-restore.sh
Due: none

feat: upgrade Python 3.11 to 3.13 with code modernization
  CLAUDE.md
  GETTING_STARTED.md
  PROJECT_SPEC.md
  README.md
  apps/api/Dockerfile
  apps/api/README.md
  apps/api/app/api/v1/endpoints/privacy.py
  apps/api/app/core/security.py
  apps/api/app/models/password_reset.py
  apps/api/app/models/user_consent.py
  apps/api/app/repositories/chart_repository.py
  apps/api/app/services/astro_service.py
  apps/api/app/services/password_reset.py
  apps/api/app/tasks/privacy.py
  apps/api/pyproject.toml
  apps/api/uv.lock
Due: mypy

Update Python version to 3.13 in CI workflow
  .github/workflows/ci.yml
Due: none

fix: address code review feedback for Python 3.13 upgrade
  .pre-commit-config.yaml
  CHANGELOG.md
  apps/api/app/core/security.py
  apps/api/pyproject.toml
  apps/api/uv.lock
Due: mypy

fix: upgrade timezonefinder for Python 3.13 compatibility
  apps/api/pyproject.toml
  apps/api/uv.lock
Due: none

feat: upgrade Python 3.11 to 3.13 (#78) (#211)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CLAUDE.md
  GETTING_STARTED.md
  PROJECT_SPEC.md
  README.md
  apps/api/Dockerfile
  apps/api/README.md
  apps/api/app/api/v1/endpoints/privacy.py
  apps/api/app/core/security.py
  apps/api/app/models/password_reset.py
  apps/api/app/models/user_consent.py
  apps/api/app/repositories/chart_repository.py
  apps/api/app/services/astro_service.py
  apps/api/app/services/password_reset.py
  apps/api/app/tasks/privacy.py
  apps/api/pyproject.toml
  apps/api/uv.lock
Due: mypy

feat: integrate Amplitude Analytics for product event tracking
  apps/api/app/services/amplitude_service.py
  apps/web/src/services/amplitude.ts
Due: mypy, eslint, prettier

feat: improve Amplitude Analytics implementation with validation and tests
  README.md
  apps/api/.env.example
  apps/api/app/core/config.py
  apps/api/app/services/amplitude_service.py
  apps/api/pyproject.toml
  apps/api/tests/test_services/test_amplitude_service.py
  apps/api/uv.lock
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/services/__tests__/amplitude.test.ts
  package-lock.json
Due: mypy, eslint, prettier

feat: integrate Amplitude Analytics for product event tracking (#83) (#212)
  README.md
  apps/api/.env.example
  apps/api/app/core/config.py
  apps/api/app/services/amplitude_service.py
  apps/api/pyproject.toml
  apps/api/tests/test_services/test_amplitude_service.py
  apps/api/uv.lock
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/services/__tests__/amplitude.test.ts
  apps/web/src/services/amplitude.ts
  package-lock.json
Due: mypy, eslint, prettier

feat: implement premium subscription model (#168)
  apps/api/alembic/versions/2025_11_25_1936-6965ccdd2487_add_subscriptions_table.py
  apps/api/app/api/v1/endpoints/admin.py
  apps/api/app/api/v1/endpoints/users.py
  apps/api/app/core/celery_app.py
  apps/api/app/models/subscription.py
  apps/api/app/models/user.py
  apps/api/app/repositories/subscription_repository.py
  apps/api/app/schemas/subscription.py
  apps/api/app/services/subscription_service.py
  apps/api/app/tasks/subscription_tasks.py
Due: mypy

refactor: address code review feedback for subscription system
  apps/api/alembic/versions/2025_11_25_1936-6965ccdd2487_add_subscriptions_table.py
  apps/api/app/api/v1/endpoints/admin.py
  apps/api/app/api/v1/endpoints/users.py
  apps/api/app/models/enums.py
  apps/api/app/models/subscription.py
  apps/api/app/repositories/subscription_repository.py
  apps/api/app/schemas/subscription.py
  apps/api/app/services/subscription_service.py
  apps/api/app/tasks/subscription_tasks.py
Due: mypy

feat: add subscription extension endpoint
  apps/api/app/api/v1/endpoints/admin.py
  apps/api/app/schemas/subscription.py
  apps/api/app/services/subscription_service.py
Due: mypy

test: add comprehensive test coverage for subscription system
  apps/api/tests/test_api/test_subscription_endpoints.py
  apps/api/tests/test_services/test_subscription_service.py
Due: none

feat: implement premium subscription model (#168) (#213)
  apps/api/alembic/versions/2025_11_25_1936-6965ccdd2487_add_subscriptions_table.py
  apps/api/app/api/v1/endpoints/admin.py
  apps/api/app/api/v1/endpoints/users.py
  apps/api/app/core/celery_app.py
  apps/api/app/models/enums.py
  apps/api/app/models/subscription.py
  apps/api/app/models/user.py
  apps/api/app/repositories/subscription_repository.py
  apps/api/app/schemas/subscription.py
  apps/api/app/services/subscription_service.py
  apps/api/app/tasks/subscription_tasks.py
  apps/api/tests/test_api/test_subscription_endpoints.py
  apps/api/tests/test_services/test_subscription_service.py
Due: mypy

fix: resolve CI failures on dev branch
  apps/api/app/api/v1/endpoints/github.py
  apps/api/app/core/database.py
  apps/api/app/repositories/base.py
  apps/api/tests/conftest.py
  apps/web/src/services/amplitude.ts
Due: mypy, eslint, prettier

feat: implement CD pipeline for automatic EC2 deployment (#28)
  .github/workflows/deploy.yml
  docs/DEPLOY_GUIDE.md
  scripts/deploy.sh
  scripts/rollback.sh
  scripts/setup-ec2.sh
Due: none

fix: resolve all mypy type checking errors in dev branch
  apps/api/app/repositories/interpretation_repository.py
  apps/api/app/services/interpretation_cache_service.py
  apps/api/app/tasks/privacy.py
Due: mypy

fix: update tests to expect 401 instead of 403 for unauthenticated requests
  apps/api/tests/test_api/test_admin.py
  apps/api/tests/test_api/test_auth.py
  apps/api/tests/test_api/test_email_verification_dependency.py
  apps/api/tests/test_api/test_pdf_endpoints.py
  apps/api/tests/test_api/test_public_charts.py
  apps/api/tests/test_api/test_rag.py
  apps/api/tests/test_api/test_rag_interpretations.py
Due: none

feat: implement CD pipeline for automatic EC2 deployment (#28) (#215)
  .github/workflows/deploy.yml
  apps/api/app/repositories/interpretation_repository.py
  apps/api/app/services/interpretation_cache_service.py
  apps/api/app/tasks/privacy.py
  apps/api/tests/test_api/test_admin.py
  apps/api/tests/test_api/test_auth.py
  apps/api/tests/test_api/test_email_verification_dependency.py
  apps/api/tests/test_api/test_pdf_endpoints.py
  apps/api/tests/test_api/test_public_charts.py
  apps/api/tests/test_api/test_rag.py
  apps/api/tests/test_api/test_rag_interpretations.py
  docs/DEPLOY_GUIDE.md
  scripts/deploy.sh
  scripts/rollback.sh
  scripts/setup-ec2.sh
Due: mypy

docs: create Amplitude Analytics best practices manual (#217)
  CLAUDE.md
  apps/api/app/api/v1/endpoints/auth.py
  apps/web/src/contexts/AuthContext.tsx
  docs/AMPLITUDE_BEST_PRACTICES.md
Due: mypy, eslint, prettier

feat: implement Phase 1 Amplitude tracking for authentication flows (#218)
  apps/api/app/api/v1/endpoints/auth.py
  apps/api/app/api/v1/endpoints/oauth.py
  apps/api/app/api/v1/endpoints/password_reset.py
  apps/web/src/hooks/useAmplitudePageView.ts
  apps/web/src/pages/ForgotPassword.tsx
  apps/web/src/pages/Login.tsx
  apps/web/src/pages/OAuthCallback.tsx
  apps/web/src/pages/Register.tsx
  apps/web/src/pages/ResetPassword.tsx
  apps/web/src/pages/VerifyEmailPage.tsx
Due: mypy, eslint, prettier

feat: implement Phase 2 Amplitude tracking for chart workflows (#218)
  apps/web/src/pages/ChartDetail.tsx
  apps/web/src/pages/Charts.tsx
  apps/web/src/pages/NewChart.tsx
Due: eslint, prettier

feat: implement growth persistence and fix Arabic Parts counter
  apps/api/app/api/v1/endpoints/growth.py
  apps/api/app/api/v1/endpoints/interpretations.py
  apps/api/app/api/v1/endpoints/oauth.py
  apps/api/app/api/v1/endpoints/password_reset.py
  apps/api/app/infrastructure/generators/growth_interpretation_generator.py
  apps/api/app/schemas/interpretation.py
  apps/api/app/services/personal_growth_service.py
  apps/api/app/services/unified/unified_interpretation_service.py
  apps/api/app/tasks/interpretation_tasks.py
  apps/web/src/components/GrowthSuggestions.tsx
  apps/web/src/components/OutdatedInterpretationBadge.tsx
  apps/web/src/pages/ChartDetail.tsx
  apps/web/src/pages/NewChart.tsx
  apps/web/src/pages/PublicChartDetail.tsx
  apps/web/src/services/interpretations.ts
  scripts/populate_public_charts.py
  scripts/populate_rag.py
Due: mypy, eslint, prettier

feat: add script to identify charts missing growth interpretations
  scripts/identify_charts_missing_growth.py
Due: none

fix: resolve database transaction conflict in growth generation
  apps/api/app/api/v1/endpoints/interpretations.py
Due: mypy
