Repository lmeazzini/astro-natal-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  python: python3.11

repos:
  # =============================================================================
  # General hooks
  # =============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^apps/web/src/locales/
      - id: end-of-file-fixer
        exclude: ^apps/web/src/locales/
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in YAML
      - id: check-json
        exclude: ^apps/web/tsconfig.*\.json$  # tsconfig files allow comments (JSONC)
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
        exclude: ^nginx/localhost\.key$  # Dev-only self-signed cert for local HTTPS

  # =============================================================================
  # Backend (Python) - Ruff for linting and formatting
  # =============================================================================
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^apps/api/
      - id: ruff-format
        files: ^apps/api/

  # =============================================================================
  # Backend (Python) - Mypy for type checking
  # =============================================================================
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd apps/api && uv run mypy app/'
        language: system
        files: ^apps/api/app/.*\.py$
        pass_filenames: false
        # Note: pass_filenames=false because mypy needs to analyze the entire
        # codebase for proper type inference. Running on individual files would
        # miss cross-module type errors.

  # =============================================================================
  # Frontend (TypeScript/JavaScript) - Using local ESLint and Prettier
  # =============================================================================
  # Note: pass_filenames=false is intentional for frontend hooks because:
  # 1. ESLint and Prettier are configured via npm scripts with project-specific settings
  # 2. Running on individual files would miss project-wide configuration
  # 3. The file patterns in 'files:' still ensure hooks only run when relevant files change
  # 4. This ensures consistent behavior with local development (`npm run lint`)
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd apps/web && npm run lint'
        language: system
        files: ^apps/web/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd apps/web && npx prettier --check "src/**/*.{ts,tsx,css,json}" --ignore-path .gitignore'
        language: system
        files: ^apps/web/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

  # =============================================================================
  # Conventional Commits
  # =============================================================================
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

fix: replace db.commit() with db.flush() to prevent SQLAlchemy state conflict
  apps/api/app/api/v1/endpoints/interpretations.py
Due: mypy

fix: use independent database session for growth generation
  apps/api/app/api/v1/endpoints/interpretations.py
Due: mypy

fix: eliminate redundant API calls when opening Growth tab
  apps/web/src/components/GrowthSuggestions.tsx
  apps/web/src/pages/ChartDetail.tsx
Due: eslint, prettier

fix: commit main transaction before growth generation
  apps/api/app/api/v1/endpoints/interpretations.py
Due: mypy

fix: normalize growth interpretations schema
  apps/api/app/api/v1/endpoints/interpretations.py
  apps/api/app/services/personal_growth_service.py
  scripts/migrate_growth_schema.py
Due: mypy

feat: provide growth interpretations in unified format
  apps/api/app/api/v1/endpoints/interpretations.py
  apps/api/app/schemas/interpretation.py
  apps/web/src/components/GrowthSuggestions.tsx
  apps/web/src/services/interpretations.ts
Due: mypy, eslint, prettier

fix: return empty dict instead of None for growth when not generated
  apps/api/app/api/v1/endpoints/interpretations.py
Due: mypy

feat: add S3 backup bucket configuration and enhanced restore script
  apps/api/.env.example
  apps/api/app/core/config.py
  docs/BACKUP_S3.md
  scripts/backup-db.sh
  scripts/restore-db.sh
Due: mypy

refactor: revert to ChartWheel component in chart pages
  apps/web/src/components/chart/ChartTooltip.tsx
  apps/web/src/components/chart/InteractiveChartWheel.tsx
  apps/web/src/components/chart/index.ts
  apps/web/src/hooks/useChartInteraction.ts
  apps/web/src/pages/ChartDetail.tsx
  apps/web/src/pages/PublicChartDetail.tsx
Due: eslint, prettier

feat: add comprehensive public charts seeding script
  apps/api/scripts/seed_public_charts.py
Due: none

feat: add missing common.refresh and common.retry translations
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
Due: prettier

fix: translate planet and sign names in temperament factors
  apps/web/src/components/TemperamentDisplay.tsx
Due: eslint, prettier

feat: add bilingual support for lunar and solar phase interpretations
  apps/api/app/astro/lunar_phase.py
  apps/api/app/astro/solar_phase.py
  apps/api/app/services/astro_service.py
  apps/api/app/tasks/astro_tasks.py
Due: mypy

feat: improve bilingual support for traditional astrology components
  apps/api/app/astro/dignities.py
  apps/api/app/astro/lunar_phase.py
  apps/api/app/astro/solar_phase.py
  apps/api/app/astro/temperament.py
  apps/api/app/tasks/astro_tasks.py
  apps/web/src/components/LordOfNativity.tsx
  apps/web/src/components/LunarPhase.tsx
  apps/web/src/components/SolarPhase.tsx
  apps/web/src/components/TemperamentDisplay.tsx
  apps/web/src/locales/en-US/translation.json
  apps/web/src/locales/pt-BR/translation.json
  apps/web/src/pages/ChartDetail.tsx
  apps/web/src/pages/NewChart.tsx
Due: mypy, eslint, prettier

fix: initialize i18n in test setup for consistent test results
  apps/web/src/test/setup.ts
Due: eslint, prettier

fix: update test fixtures to use language-first chart_data format
  apps/api/tests/conftest.py
  apps/api/tests/test_api/test_email_verification_dependency.py
  apps/api/tests/test_api/test_rag_interpretations.py
Due: none

fix: add metadata fields to InterpretationItem schema
  apps/api/app/api/v1/endpoints/interpretations.py
  apps/api/app/schemas/interpretation.py
Due: mypy

fix: update RAG interpretation tests to match actual response schema
  apps/api/tests/test_api/test_rag_interpretations.py
Due: none

fix: add missing fields to InterpretationItem and fix test passwords
  apps/api/app/api/v1/endpoints/interpretations.py
  apps/api/app/schemas/interpretation.py
  apps/api/tests/test_api/test_unified_interpretations.py
Due: mypy

fix: update test expectation for unauthorized chart access (404 not 403)
  apps/api/tests/test_api/test_unified_interpretations.py
Due: none

test: fix test_unified_interpretations.py RAG mocking
  apps/api/tests/test_api/test_unified_interpretations.py
Due: none

test: fix test_chart_service.py recalculation test
  apps/api/tests/test_services/test_chart_service.py
Due: none

fix: extract language-specific chart_data in _generate_rag_interpretations
  apps/api/app/api/v1/endpoints/interpretations.py
Due: mypy

test: fix test_get_unified_interpretations_partial_regeneration expectation
  apps/api/tests/test_api/test_unified_interpretations.py
Due: none

chore: update .gitignore to exclude database backups
  .gitignore
Due: none

feat(infra): add Qdrant vector database to production compose
  docker-compose.prod.yml
Due: none

chore: add .env.prod to gitignore
  .gitignore
Due: none

fix: ensure timezone-aware datetime handling and infra updates
  apps/api/app/schemas/chart.py
  apps/api/docker-entrypoint.sh.bak
  apps/api/scripts/migrate_chart_data.py
  apps/api/tests/test_schemas/__init__.py
  apps/api/tests/test_schemas/test_chart_datetime.py
  apps/web/src/pages/Charts.tsx
  apps/web/src/pages/EditChart.tsx
  apps/web/src/pages/NewChart.tsx
  docker-compose.prod.yml
  nginx/conf.d/astro.conf.backup
  nginx/conf.d/astro.conf.http-only
  nginx/conf.d/astro.conf.ssl
  scripts/backup-db.sh
Due: mypy, eslint, prettier

feat(api): improve chart generation reliability and performance
  apps/api/app/api/v1/endpoints/charts.py
  apps/api/app/api/v1/endpoints/interpretations.py
  apps/api/app/repositories/interpretation_repository.py
  apps/api/app/services/interpretation_cache_service.py
  apps/api/app/services/interpretation_service_rag.py
  apps/api/app/tasks/__init__.py
  apps/api/app/tasks/astro_tasks.py
  docker-compose.observability.yml
  docker-compose.prod.yml
  nginx/conf.d/astro.conf
Due: mypy

fix: add missing logger import and fix linting errors
  apps/api/app/api/v1/endpoints/charts.py
  apps/api/app/schemas/chart.py
  apps/api/app/tasks/astro_tasks.py
Due: mypy

fix: resolve Celery async event loop conflicts with task-local sessions
  apps/api/app/core/database.py
  apps/api/app/tasks/astro_tasks.py
Due: mypy

fix: improve rate limiting with real client IP detection and error handling
  apps/api/app/core/rate_limit.py
  apps/web/src/pages/Register.tsx
  apps/web/src/services/api.ts
Due: mypy, eslint, prettier

fix: use atomic PostgreSQL upsert to prevent race conditions in interpretations
  apps/api/app/repositories/interpretation_repository.py
Due: mypy

docs: update README to reflect current project state
  README.md
Due: none

docs: update README to reflect current project state (#235)
  README.md
  apps/web/src/App.tsx
Due: eslint, prettier

fix: resolve mypy and ruff linting errors in CI
  apps/api/app/api/v1/endpoints/charts.py
  apps/api/app/core/database.py
  apps/api/app/repositories/interpretation_repository.py
  apps/api/app/services/interpretation_service_rag.py
  apps/api/scripts/migrate_chart_data.py
Due: mypy

feat(analytics): add Amplitude tracking for User Profile & Settings (#219)
  apps/api/app/api/v1/endpoints/oauth.py
  apps/api/app/api/v1/endpoints/privacy.py
  apps/api/app/api/v1/endpoints/users.py
  apps/api/app/tasks/privacy.py
  apps/web/src/pages/Profile.tsx
Due: mypy, eslint, prettier

fix(analytics): improve Amplitude tracking based on code review
  apps/api/app/api/v1/endpoints/oauth.py
  apps/api/app/api/v1/endpoints/users.py
  apps/api/app/services/oauth_service.py
  apps/api/tests/test_api/test_amplitude_tracking.py
  apps/web/src/pages/Profile.tsx
Due: mypy, eslint, prettier
